.ant-image.css-dev-only-do-not-override-y11sof {
    width: 100%;
}

.ebook-bar {
    padding: 30px;
    width: 80%;
    overflow-y: scroll;
    overflow-x: unset;
    height: 85vh;
}

.dash-part ul li {
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(221 221 221 / 44%) !important;
    padding: 10px 25px !important;
}

ul.leftMenuSubList li {
    padding-left: 20px !important;
    position: relative;
}

ul.leftMenuSubList li::after {
    content: "";
    background: #d7d7d7;
    width: 9px;
    height: 9px;
    position: absolute;
    left: 2px;
    border-radius: 100px;
    top: 16px;
}


/* here ebook design section */

.book-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Image Section
.book-card__image-container {
    width: 100%;
    height: 320px;
} */

/* img.ant-image-img.book-card__image.css-dev-only-do-not-override-1jeax48 {
    width: 100% !important;
    height: 300px !important;
    vertical-align: middle !important;
    object-fit: contain !important;
}

/* .ant-image.css-dev-only-do-not-override-1jeax48 {
    position: unset !important;
    display: block !important;
} */
.ant-image.css-dev-only-do-not-override-1jeax48 {
    position: unset !important;
    display: block !important;
}

.book-card__image-container .ant-image.css-1jeax48 {
    width: 100%;
}

.book-card__image-container img.ant-image-img {
    object-fit: fill !important;
    height: 320px !important;
    border-radius: 10px 10px 0 0;
    width: 100% !important;
}

.book-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-bottom: 3px solid #09a6eb; */
}

/* Content Section */
.book-card__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.book-card__title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 45px;
    /* Ensures consistent height for all titles */
}

.book-card__price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

/* Button Section */
.book-card__button-container {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    height: 60px;
}

.book-card__link {
    text-decoration: none;
    color: white;
}

.bottom-space-30 {
    margin-bottom: 30px;
}

.select-info-btn {
    width: 100%;
    margin-bottom: 16px !important;
    height: 42px !important;
}

@media (max-width:1600px) {
    .book-card__content {
        padding: 10px;
    }

    .book-card__button-container {
        padding: 10px 10px;
    }

    .book-card a.book-card__link img {
        height: 260px !important;
    }

    .book-card {
        height: 475px !important;
    }
}

@media (max-width:767px) {
    .book-card {
        height: unset !important;
    }

    .book-card a.book-card__link img {
        height: unset !important;
    }

    .bottom-space-30 {
        margin-bottom: 15px;
    }
}
