.s-number {
    padding: 0px 6px;
    background: black;
    color: white;
    border-radius: 50px;
    height: 20px;
    width: 20px;
}

.info-text p {
    margin-top: 20px !important;
    background: #F6F6F8;
    width: fit-content;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0 !important;
}

.question-type-box {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 200px;
    border: 1px solid;
    border-radius: 6px;
    background-color: #F6F6F8;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.question-type-box.active {
    background-color: #fff;
    border: 2px solid #000;
}

.question-type-icon {
    font-size: 40px;
    text-align: center;
    width: 100%;
    color: #ccc;
}

.question-type-title {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #000 !important;
}

.mt-20 {
    margin-top: 20px;
}
